<section class="content-header">
    <h1>
        Ficha de Treino
        <small> - Novo(a) </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Nova</a></li>
        <li class="active">Ficha de Treino</li>
    </ol>

</section>

<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Dados Ficha:</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Ampliar/Reduzir">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">

            <form id="meuform" class="form-horizontal" action="/FichaTreino/AdicionaFicha" method="post">


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">Nome da Ficha:</label>
                    <div class="col-md-3">
                        <input id="nome" name="ficha.NomeFicha" type="text" placeholder="Digite aqui o nome.." class="form-control input-md">

                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">Nome do Responsável:</label>
                    <div class="col-md-3">
                        <input id="professor" name="ficha.Professor" type="text" placeholder="Digite aqui.." class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="tipoDuracao">Cliente: </label>
                    <div class="col-md-4">
                        <select id="selectClientes" name="ficha.ClienteId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="dataInicio">Data de inicio:</label>
                    <div class="col-md-2">
                        <input id="nasc" name="ficha.DataInicio" type="datetime" placeholder="Dia / Mês / Ano" class="form-control input-md">
                    </div>
                </div>


                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="tipoDuracao">Tipo de Duração: </label>
                    <div class="col-md-4">
                        <select id="tipoDuracao" name="ficha.TipoDuracao" class="form-control">
                            <option value=""></option>
                            <option value="NumeroTreinos">Numeros de Treinos</option>
                            <option value="DataFinal">Data Final</option>
                        </select>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="frequencia">Frequência/Semana: </label>
                    <div class="col-md-4">
                        <select id="frequencia" name="ficha.Frequencia" class="form-control">
                            <option value=""></option>
                            <option value="1x">1X</option>
                            <option value="2x">2x</option>
                            <option value="3x">3x</option>
                            <option value="4x">4x</option>
                            <option value="5x">5x</option>
                            <option value="6x">6x</option>
                            <option value="7x">7x</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="observacoes">Observações:</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="observacoes" name="ficha.Observacoes"></textarea>
                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-5 control-label" for="cadastrar"></label>
                    <div class="col-md-6">
                        <button id="cadastrar" type="submit" name="cadastrar" class="btn btn-success">Finalizar</button>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>

@section Index_scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/FichaTreino/ListaClientes",
                data: { ListaClientes: $("#selectClientes").val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    var data = obj.data;
                    if (obj != null) {
                        var selectbox = $('#selectClientes').select();
                        selectbox.find('option').remove();
                        $('<option>').val("").appendTo(selectbox);
                        $.each(data, function (i, d) {
                            $('<option>').val(d.Id).text(d.Pessoa.Nome).appendTo(selectbox);
                        });
                    }
                },

            });

        });

    </script>
    
    }