<section class="content-header">
    <h1>
        Treino
        <small> - Novo </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home </a></li>
        <li><a href="#">Novo</a></li>
        <li class="active">Treino</li>
    </ol>

</section>

<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Informações:</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Ampliar/Reduzir">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">

            <form id="meuform" class="form" action="/Treino/AdicionaTreino" method="post">

                @*@Html.AntiForgeryToken()*@

                <div class="form-body no-space">

                    <div class="col-md-3 noPaddingRight">
                        <div class="form-group sem-margem-bottom divExercicio">
                            <label class="control-label label_exercicio h6 text-danger"><strong>Exercício</strong></label>
                            <select id="nomeExercicio" name="treino.Exercicios" class="form-control">
                                <option value="">Selecione..</option>
                                <option value="BARRA FIXA">BARRA FIXA</option>
                                <option value="BARRA GRAVITON">BARRA GRAVITON</option>
                                <option value="978349">CRUCIFIXO INVERSO</option>
                                <option value="978350">DORSAL NADADOR</option>
                                <option value="978351">LEVANT. TERRA</option>
                                <option value="978352">POSTERIOR CROSS</option>
                                <option value="978353">PUXADA ATRÁS</option>
                                <option value="978354">PUXADA CORDA</option>
                                <option value="978355">PUXADA CORDA</option>
                                <option value="978356">PUXADA CROSS OVER</option>
                                <option value="978357">PUXADA FECHADO</option>
                                <option value="978358">PUXADA FRENTE</option>
                                <option value="978359">PUXADA FRENTE BARRA MENOR</option>
                                <option value="978360">PUXADA FRENTE FECHADO</option>
                                <option value="978361">PUXADA LATERAL UNI</option>
                                <option value="978362">PUXADA SMITH</option>
                                <option value="978363">PUXADA TRAS/FRENTE</option>
                                <option value="978364">REMADA ABERTA</option>
                                <option value="978365">REMADA CAVALINHO</option>
                                <option value="978366">REMADA CURVADA</option>
                                <option value="978367">REMADA FECHADA</option>
                                <option value="978368">REMADA INVERTIDA</option>
                                <option value="978369">REMADA UNILATERAL</option>
                                <option value="978370">SERROTE</option>
                                <option value="978371">SERROTE CROSS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 noPaddingRight">
                        <div class="form-group sem-margem-bottom">
                            <label class="control-label h6 text-danger"><strong>Série</strong></label>
                            <input id="series" name="treino.Series" type="text" class="form-control input-md">
                            <span class="help-block series-nulo display-none">Obrigatório</span>
                        </div>
                    </div>
                    <div class="col-md-1 noPaddingRight">
                        <div class="form-group sem-margem-bottom">
                            <label class="control-label h6 text-danger"><strong>Repetição</strong></label>
                            <input id="repeticoes" name="treino.Repeticoes" type="text" placeholder="" class="form-control input-md">
                            <span class="help-block repeticoes-nulo display-none">Obrigatório</span>
                        </div>
                    </div>
                    <div class="col-md-1 noPaddingRight">
                        <div class="form-group sem-margem-bottom">
                            <label class="control-label h6 text-danger"><strong>Carga</strong></label>
                            <input id="carga" name="treino.Carga" type="text" placeholder="" class="form-control input-md">
                            <span class="help-block series-nulo display-none">Obrigatório</span>
                        </div>
                    </div>
                    <div class="col-md-1 noPaddingRight">
                        <div class="form-group sem-margem-bottom">
                            <label class="control-label h6 text-danger"><strong>Intervalo</strong></label>
                            <input id="intervalo" name="treino.Intervalo" type="text" placeholder="" class="form-control input-md">
                            <span class="help-block repeticoes-nulo display-none">Obrigatório</span>
                        </div>
                    </div>
                    <div class="col-md-3 noPaddingRight">
                        <div class="form-group sem-margem-bottom">
                            <label class="control-label h6 text-danger"><strong>Observação</strong></label>
                            <input id="observacao" name="treino.Observacoes" type="text" placeholder="" class="form-control input-md">
                        </div>
                    </div>
                    <div class="col-md-2 noPaddingRight" style=" padding-top: 25px; ">
                        <button class="btn bg-blue fa fa-check"></button>
                        @*<button class="btn bg-green fa fa-plus"></button>*@
                        <button class="btn bg-gray fa fa-times"></button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!--===================================================================================================================================================== -->
                <div class="col-md-3 noPaddingRight">
                    <div class="form-group sem-margem-bottom divExercicio">
                        <label class="control-label label_exercicio h6 text-danger"><strong>Exercício</strong></label>
                        <select id="" name="" class="form-control">
                            <option value="">Selecione..</option>
                            <option value="BARRA FIXA">BARRA FIXA</option>
                            <option value="BARRA GRAVITON">BARRA GRAVITON</option>
                            <option value="978349">CRUCIFIXO INVERSO</option>
                            <option value="978350">DORSAL NADADOR</option>
                            <option value="978351">LEVANT. TERRA</option>
                            <option value="978352">POSTERIOR CROSS</option>
                            <option value="978353">PUXADA ATRÁS</option>
                            <option value="978354">PUXADA CORDA</option>
                            <option value="978355">PUXADA CORDA</option>
                            <option value="978356">PUXADA CROSS OVER</option>
                            <option value="978357">PUXADA FECHADO</option>
                            <option value="978358">PUXADA FRENTE</option>
                            <option value="978359">PUXADA FRENTE BARRA MENOR</option>
                            <option value="978360">PUXADA FRENTE FECHADO</option>
                            <option value="978361">PUXADA LATERAL UNI</option>
                            <option value="978362">PUXADA SMITH</option>
                            <option value="978363">PUXADA TRAS/FRENTE</option>
                            <option value="978364">REMADA ABERTA</option>
                            <option value="978365">REMADA CAVALINHO</option>
                            <option value="978366">REMADA CURVADA</option>
                            <option value="978367">REMADA FECHADA</option>
                            <option value="978368">REMADA INVERTIDA</option>
                            <option value="978369">REMADA UNILATERAL</option>
                            <option value="978370">SERROTE</option>
                            <option value="978371">SERROTE CROSS</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Série</strong></label>
                        <input id="" name="." type="text" class="form-control input-md">
                        <span class="help-block series-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Repetição</strong></label>
                        <input id="" name="." type="text" placeholder="" class="form-control input-md">
                        <span class="help-block repeticoes-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Carga</strong></label>
                        <input id="" name="." type="text" placeholder="" class="form-control input-md">
                        <span class="help-block series-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Intervalo</strong></label>
                        <input id="" name="" type="text" placeholder="" class="form-control input-md">
                        <span class="help-block repeticoes-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-3 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Observação</strong></label>
                        <input id="" name="" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="col-md-2 noPaddingRight" style=" padding-top: 25px; ">
                    <button class="btn bg-blue fa fa-check"></button>
                    @*<button class="btn bg-green fa fa-plus"></button>*@
                    <button class="btn bg-gray fa fa-times"></button>
                </div>
                <div class="clearfix"></div>

                <!--===================================================================================================================================================== -->
                <div class="col-md-3 noPaddingRight">
                    <div class="form-group sem-margem-bottom divExercicio">
                        <label class="control-label label_exercicio h6 text-danger"><strong>Exercício</strong></label>
                        <select id="" name="" class="form-control">
                            <option value="">Selecione..</option>
                            <option value="BARRA FIXA">BARRA FIXA</option>
                            <option value="BARRA GRAVITON">BARRA GRAVITON</option>
                            <option value="978349">CRUCIFIXO INVERSO</option>
                            <option value="978350">DORSAL NADADOR</option>
                            <option value="978351">LEVANT. TERRA</option>
                            <option value="978352">POSTERIOR CROSS</option>
                            <option value="978353">PUXADA ATRÁS</option>
                            <option value="978354">PUXADA CORDA</option>
                            <option value="978355">PUXADA CORDA</option>
                            <option value="978356">PUXADA CROSS OVER</option>
                            <option value="978357">PUXADA FECHADO</option>
                            <option value="978358">PUXADA FRENTE</option>
                            <option value="978359">PUXADA FRENTE BARRA MENOR</option>
                            <option value="978360">PUXADA FRENTE FECHADO</option>
                            <option value="978361">PUXADA LATERAL UNI</option>
                            <option value="978362">PUXADA SMITH</option>
                            <option value="978363">PUXADA TRAS/FRENTE</option>
                            <option value="978364">REMADA ABERTA</option>
                            <option value="978365">REMADA CAVALINHO</option>
                            <option value="978366">REMADA CURVADA</option>
                            <option value="978367">REMADA FECHADA</option>
                            <option value="978368">REMADA INVERTIDA</option>
                            <option value="978369">REMADA UNILATERAL</option>
                            <option value="978370">SERROTE</option>
                            <option value="978371">SERROTE CROSS</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Série</strong></label>
                        <input id="" name="." type="text" class="form-control input-md">
                        <span class="help-block series-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Repetição</strong></label>
                        <input id="" name="." type="text" placeholder="" class="form-control input-md">
                        <span class="help-block repeticoes-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Carga</strong></label>
                        <input id="" name="." type="text" placeholder="" class="form-control input-md">
                        <span class="help-block series-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-1 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Intervalo</strong></label>
                        <input id="" name="" type="text" placeholder="" class="form-control input-md">
                        <span class="help-block repeticoes-nulo display-none">Obrigatório</span>
                    </div>
                </div>
                <div class="col-md-3 noPaddingRight">
                    <div class="form-group sem-margem-bottom">
                        <label class="control-label h6 text-danger"><strong>Observação</strong></label>
                        <input id="" name="" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="col-md-2 noPaddingRight" style=" padding-top: 25px; ">
                    <button class="btn bg-blue fa fa-check"></button>
                    @*<button class="btn bg-green fa fa-plus"></button>*@
                    <button class="btn bg-gray fa fa-times"></button>
                </div>
                <div class="clearfix"></div>

                <!--===================================================================================================================================================== -->
                <!-- Button -->
                <div class="form-horizontal">
                    <label class="col-md-5 control-label" for="cadastrar"></label>
                    <div class="col-md-1">
                        <button id="cadastrar" type="submit" name="cadastrar" class="btn btn-success">Finalizar Cadastro</button>
                    </div>
                </div>

            </form>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>