<section class="content-header">
    <h1>
        Treino
        <small> - Novo </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home </a></li>
        <li><a href="#">Novo</a></li>
        <li class="active">Treino</li>
    </ol>

</section>

<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Informações:</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Ampliar/Reduzir">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">



            @*@Html.AntiForgeryToken()*@
            <div class="form-group">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="treino">Nome Treino:</label>
                    <div class="col-md-3">
                        <input id="nomeTreino" name="treino.NomeTreino" type="text" placeholder="Digite aqui o nome do treino.." class="form-control input-md">

                    </div>
                </div>


           
                    <div class="col-md-1">
                        <a href="#" onclick="SalvarTreino();" class="btn btn-success" style=" height: 35px; ">Novo</a>
                    </div>

            <div id="divExercicios" style="display:none;">

            </div>



        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>

@section Index_scripts{
    <script src="~/Content/Template/plugins/ArquivosJS/Treino.js"></script>
}