@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/telaLogin/BackgroundTelaLogin.png" rel="shortcut icon">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/telaLogin/Style.css">
</head>
<body>
    <div class="login-box">
        <form action="/Funcionario/Autentica" method="post">
            <h1>SOFTNESS </h1>

            <p></p>
            <input type="text" name="nomeusuario" id="nomeusuario" placeholder="Nome de Usuário">
            <p></p>
            <input type="password" name="senha" id="senha" placeholder="Senha">

            <input type="submit" name="submit" value="ENTRAR" autofocus>
            <a href="#">Esqueceu sua senha?</a>

        </form>
    </div>
</body>
</html>