<section class="content-header">
    <h1>
        Tabela de Funcionarios
        <small> - </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tabelas</a></li>
        <li class="active">Usuarios</li>
    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">

            <div class="pull-right fa-border ">
                <a type="button" href="/Funcionario/Form" name="cadastrar" class="btn btn-success">Novo</a>
                <a type="button" href="/Cliente/Form" name="cadastrar" class="btn bg-blue">Editar</a>
                <a type="button" href="/Cliente/Form" name="cadastrar" class="btn btn-google">Excluir</a>
            </div>


            <table id="tabelaFuncionario" class="table table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr>
                        <th>Funcionário</th>
                        <th>CPF</th>
                        <th>Nome de Usuario</th>
                        <th>Tipo de Acesso</th>
                        <th>Cargo</th>
                        <th>Telefone</th>
                        <th>Email</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

</section>

@section Index_scripts{

    <script type="text/javascript">

                $(document).ready(function () {
            var tabela = $('#tabelaFuncionario').DataTable({
                dom: 'Blftip',
                select: true,
                "ajax": {
                    "url": "/Funcionario/ListaFuncionarios",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [

                    { "data": "Pessoa.Nome", "autoWidth": true },
                    { "data": "Pessoa.Cpf", "autoWidth": true },
                    { "data": "NomeDeUsuario", "autoWidth": true },
                    { "data": "TipoDeAcesso", "autoWidth": true },
                    { "data": "Cargo", "autoWidth": true },
                    { "data": "Pessoa.Fone", "autoWidth": true },
                    { "data": "Pessoa.Email", "autoWidth": true },

                ]
            });

                $('#tabelaFuncionario').click(function () {
                var ClienteId = tabela.rows({ selected: true }).data()[0].Pessoa.Nome;
               console.log(ClienteId);
                //window.location.href = "/Cliente/EditaCliente/" + ClienteId
            });
        });
    </script>

}